.footer__menu-mobile {
    padding: 70px 0;
}
.footer-mobile-sec {
    align-items:center;
    padding: 24px 15px;
    border-top: 1px solid #555F62;
}
.footer-top-mob {
    display: flex;
    align-items:center;
    justify-content:space-between;
}
.footer-mob-dropdown {
    display: flex;
    justify-content: space-between;
    transition: 0.5s ease;
}
.footer-mob-sec-title {
    font-size: 16px;
    margin-bottom: 24px;
    font-weight: 700;
    color: #000;
}
.footer-policy-mob {
    display: flex;
    align-items:center;
    grid-column-gap: 18px;
    font-size: 14px;
    padding: 24px 15px;
}

.footer-logo-mob {
    display: flex;
    align-items:center;
    grid-column-gap: 18px;
    font-size: 14px;
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 30px;
    color: #6f787b;
}