@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../Styles/base/_typography.css';
@import '../Styles/components/_header.css';
@import '../Styles/components/_footer.css';
@import '../Styles/components/_swiper.css';
@import '../Styles/components/_productSwiper.css';
@import '../Styles/components/_concept.css';
@import '../Styles/components/_package.css';
@import '../Styles/components/_statistic.css';
@import '../Styles/components/_private.css';
@import '../Styles/components/_digitalBank.css';
@import '../Styles/components/_awards.css';
@import '../Styles/components/_footer-mobile.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
